In [29]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import sqlite3

In [30]:
database ='database.sqlite'

In [31]:
conn = sqlite3.connect(database)

In [32]:
query = """select *
                from sqlite_master
                where type='table';"""

tables = pd.read_sql(query, conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [33]:
query = """select * from Indicators;"""
indicators = pd.read_sql(query, conn)
indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [34]:
query = """SELECT COUNT(*) AS total_rows
FROM Indicators;"""
total_rows = pd.read_sql(query, conn)
total_rows

   total_rows
0     5656458

In [35]:
query  = """SELECT COUNT(*) AS missing_values FROM Indicators
WHERE Value IS NULL;"""
null_value  = pd.read_sql(query, conn)
null_value

   missing_values
0               0

In [36]:
query = """SELECT * FROM Indicators
WHERE Value IS NOT NULL
LIMIT 20;"""
not_null_values = pd.read_sql(query, conn)
not_null_values

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
5,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.380000e+08
6,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.769789e+01
7,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.956399e+04
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.439635e-01
9,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.041292e+00
10,Arab World,ARB,CO2 emissions from liquid fuel consumption (% ...,EN.ATM.CO2E.LF.ZS,1960,8.485147e+01
11,Arab World,ARB,CO2 emissions from liquid fuel consumption (kt),EN.ATM.CO2E.LF.KT,1960,4.954171e+04
12,Arab World,ARB,CO2 emissions from solid fuel consumption (% o...,EN.ATM.CO2E.SF.ZS,1960,4.726981e+00
13,Arab World,ARB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,1960,1.975445e+01
14,Arab World,ARB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.924027e+00
15,Arab World,ARB,Fixed telephone subscriptions,IT.MLT.MAIN,1960,4.068330e+05
16,Arab World,ARB,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1960,6.167006e-01
17,Arab World,ARB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,1960,1.929622e+00
18,Arab World,ARB,International migrant stock (% of population),SM.POP.TOTL.ZS,1960,2.990637e+00
19,Arab World,ARB,"International migrant stock, total",SM.POP.TOTL,1960,3.324685e+06

In [37]:
query = """SELECT *
FROM Indicators
WHERE CountryName IS NULL
   OR CountryCode IS NULL
   OR IndicatorName IS NULL
   OR IndicatorCode IS NULL
   OR Year IS NULL
   OR Value IS NULL;"""
missing_values = pd.read_sql(query, conn) 
missing_values

Empty DataFrame
Columns: [CountryName, CountryCode, IndicatorName, IndicatorCode, Year, Value]
Index: []

In [38]:
query = """SELECT COUNT(DISTINCT IndicatorName) AS total_indicators
FROM Indicators;"""
total_indicators = pd.read_sql(query, conn)
total_indicators

   total_indicators
0              1344

In [39]:
query = """SELECT DISTINCT IndicatorName
FROM Indicators
ORDER BY IndicatorName;"""
distinct_indicators = pd.read_sql(query, conn) 
distinct_indicators

                                          IndicatorName
0     2005 PPP conversion factor, GDP (LCU per inter...
1     2005 PPP conversion factor, private consumptio...
2     ARI treatment (% of children under 5 taken to ...
3               Access to electricity (% of population)
4     Access to electricity, rural (% of rural popul...
...                                                 ...
1339  Women's share of population ages 15+ living wi...
1340  Youth literacy rate, population 15-24 years, b...
1341  Youth literacy rate, population 15-24 years, f...
1342  Youth literacy rate, population 15-24 years, g...
1343  Youth literacy rate, population 15-24 years, m...

[1344 rows x 1 columns]

In [40]:
query = """SELECT DISTINCT IndicatorName
FROM Indicators
WHERE IndicatorName LIKE '%GDP%';"""
gdp_indicators = pd.read_sql(query, conn) 
gdp_indicators

                                        IndicatorName
0   2005 PPP conversion factor, GDP (LCU per inter...
1                 Agriculture, value added (% of GDP)
2                              Broad money (% of GDP)
3              CO2 emissions (kg per 2005 US$ of GDP)
4            CO2 emissions (kg per 2011 PPP $ of GDP)
..                                                ...
81                             Tax revenue (% of GDP)
82           Total natural resources rents (% of GDP)
83                                   Trade (% of GDP)
84                       Trade in services (% of GDP)
85  Water productivity, total (constant 2005 US$ G...

[86 rows x 1 columns]

In [41]:
query = """SELECT Year, Value
FROM Indicators
WHERE CountryName = 'Brazil'
  AND IndicatorName = 'GDP per capita (current US$)'
ORDER BY Year DESC
LIMIT 10;"""
brazil_gdp = pd.read_sql(query, conn)
brazil_gdp

   Year         Value
0  2014  11384.415010
1  2013  11711.004405
2  2012  11922.513058
3  2011  13042.421933
4  2010  11124.245780
5  2009   8462.508346
6  2008   8700.455202
7  2007   7240.923983
8  2006   5809.189096
9  2005   4733.164181

In [42]:
qeury =  """ SELECT Year,CountryName,Value AS GDP_per_capita
FROM Indicators
WHERE CountryName IN ('Brazil', 'China')
  AND IndicatorName = 'GDP per capita (current US$)'
ORDER BY Year, CountryName;"""
brazil_china_gdp = pd.read_sql(qeury, conn)
brazil_china_gdp

     Year CountryName  GDP_per_capita
0    1960      Brazil      209.198785
1    1960       China       88.722498
2    1961      Brazil      203.955154
3    1961       China       75.048915
4    1962      Brazil      258.757669
..    ...         ...             ...
105  2012       China     6264.643878
106  2013      Brazil    11711.004405
107  2013       China     6991.853866
108  2014      Brazil    11384.415010
109  2014       China     7590.016441

[110 rows x 3 columns]

In [43]:
query = """SELECT Year,Value AS GDP_per_capita
FROM Indicators
WHERE CountryName = 'Brazil'
  AND IndicatorName = 'GDP per capita (current US$)'
  AND Year BETWEEN 1990 AND 1999
ORDER BY Year;"""
brazil_90s_gdp = pd.read_sql(query, conn)
brazil_90s_gdp

   Year  GDP_per_capita
0  1990     3071.627953
1  1991     3942.403941
2  1992     2578.207009
3  1993     2774.174127
4  1994     3482.529816
5  1995     4827.152443
6  1996     5163.265813
7  1997     5279.111298
8  1998     5083.700964
9  1999     3476.144038

In [44]:
query = """SELECT CountryName,IndicatorName, Value
FROM Indicators
WHERE CountryName IN ('Brazil', 'China', 'India')
  AND Year = 2014
  AND IndicatorName LIKE '%GDP%'
;"""
gdp_2014 = pd.read_sql(query, conn)
gdp_2014

    CountryName                                      IndicatorName      Value
0        Brazil                Agriculture, value added (% of GDP)   5.559470
1        Brazil                             Broad money (% of GDP)  79.632353
2        Brazil         Claims on central government, etc. (% GDP)  26.964413
3        Brazil  Claims on other sectors of the domestic econom...  81.304068
4        Brazil                 Current account balance (% of GDP)  -4.432124
..          ...                                                ...        ...
135       India  Price level ratio of PPP conversion factor (GD...   0.277423
136       India             Services, etc., value added (% of GDP)  52.075766
137       India              Stocks traded, total value (% of GDP)  35.669888
138       India                                   Trade (% of GDP)  48.703469
139       India                       Trade in services (% of GDP)  14.844736

[140 rows x 3 columns]

In [45]:
#Search for the Highest GDP Per Capita in 2014 o Find the country with the highest GDP per capita in 2014.
query = """SELECT CountryName, Value AS GDP_per_capita
FROM Indicators
WHERE IndicatorName = 'GDP per capita (current US$)'
  AND Year = 2014
ORDER BY Value DESC
;"""
highest_gdp_per_capita = pd.read_sql(query, conn)
highest_gdp_per_capita

                  CountryName  GDP_per_capita
0                  Luxembourg   116664.262488
1                      Norway    97307.421592
2                       Qatar    96732.402545
3            Macao SAR, China    96038.050724
4                 Switzerland    85594.326601
..                        ...             ...
210          Congo, Dem. Rep.      442.339539
211                     Niger      427.373240
212  Central African Republic      358.537836
213                   Burundi      286.002336
214                    Malawi      255.044570

[215 rows x 2 columns]

In [46]:
query = """SELECT CountryName,Value AS GDP_per_capita
FROM Indicators
WHERE IndicatorName = 'GDP per capita (current US$)'
  AND Year = 2014
ORDER BY Value DESC;"""
Reaffirm_highest_gdp_per_capita = pd.read_sql(query, conn)
Reaffirm_highest_gdp_per_capita

                  CountryName  GDP_per_capita
0                  Luxembourg   116664.262488
1                      Norway    97307.421592
2                       Qatar    96732.402545
3            Macao SAR, China    96038.050724
4                 Switzerland    85594.326601
..                        ...             ...
210          Congo, Dem. Rep.      442.339539
211                     Niger      427.373240
212  Central African Republic      358.537836
213                   Burundi      286.002336
214                    Malawi      255.044570

[215 rows x 2 columns]

In [47]:
query = """SELECT CountryName,
       AVG(Value) AS avg_GDP_per_capita
FROM Indicators
WHERE IndicatorName = 'GDP per capita (current US$)'
GROUP BY CountryName
ORDER BY avg_GDP_per_capita DESC;"""
average_gdp_per_capita = pd.read_sql(query, conn)
average_gdp_per_capita

         CountryName  avg_GDP_per_capita
0             Monaco        77367.086708
1      Liechtenstein        58386.073030
2    Channel Islands        50912.094992
3     Cayman Islands        47147.710137
4         San Marino        42151.387998
..               ...                 ...
234            Niger          242.147786
235         Ethiopia          231.783249
236            Nepal          215.756053
237           Malawi          166.267213
238          Burundi          150.840908

[239 rows x 2 columns]

In [48]:
query = """SELECT COUNT(*) AS total_measures
FROM Indicators
WHERE IndicatorName = 'GDP per capita (current US$)'
  AND Year >= (SELECT MAX(Year) - 9 FROM Indicators);"""
total_measures = pd.read_sql(query, conn)
total_measures

   total_measures
0            2044

In [49]:
query = """SELECT CountryName,COUNT(*) AS measures_count
FROM Indicators
WHERE IndicatorName = 'GDP per capita (current US$)'
  AND CountryName = 'Angola'
GROUP BY CountryName;"""
angola_measures = pd.read_sql(query, conn)
angola_measures

  CountryName  measures_count
0      Angola              29

In [54]:
query = """select * from Series;"""
series = pd.read_sql(query, conn)
series

,SeriesCode,Topic,IndicatorName,ShortDefinition,LongDefinition,UnitOfMeasure,Periodicity,BasePeriod,OtherNotes,AggregationMethod,LimitationsAndExceptions,NotesFromOriginalSource,GeneralComments,Source,StatisticalConceptAndMethodology,DevelopmentRelevance,RelatedSourceLinks,OtherWebLinks,RelatedIndicators,LicenseType
0,BN.KLT.DINV.CD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net (BoP, current US$)",,Foreign direct investment are the net inflows ...,,Annual,,,,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",,,,,,Open
1,BX.KLT.DINV.WD.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (% of GDP)",,Foreign direct investment are the net inflows ...,,Annual,,,Weighted average,FDI data do not give a complete picture of int...,,Note: Data starting from 2005 are based on the...,"International Monetary Fund, International Fin...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,,,,Open
2,BX.KLT.DINV.CD.WD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (BoP, c...",,Foreign direct investment refers to direct inv...,,Annual,,,Sum,FDI data do not give a complete picture of int...,,Note: Data starting from 2005 are based on the...,"International Monetary Fund, Balance of Paymen...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,,,,Open
3,BM.KLT.DINV.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net outflows (% of ...",,Foreign direct investment are the net inflows ...,,Annual,,,Weighted average,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, International Fin...",,,,,,Open
4,BN.TRF.KOGT.CD,Economic Policy & Debt: Balance of payments: C...,"Net capital account (BoP, current US$)",,Net capital account records acquisitions and d...,,Annual,,,,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",,,,,,Open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,SL.UEM.1524.FE.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth female (% of female labor ...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1341,SL.UEM.1524.MA.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth male (% of male labor forc...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,There may be persons not currently in the labo...,,The unemployment rates presented here are the ...,"International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1342,SL.UEM.1524.MA.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth male (% of male labor forc...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1343,SL.UEM.1524.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth total (% of total labor fo...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,There may be persons not currently in the labo...,,The unemployment rates presented here are the ...,"International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1344,SL.UEM.1524.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth total (% of total labor fo...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open

In [55]:
query = """select * from Country;"""
country_table = pd.read_sql(query, conn)
country_table

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,WBG,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,PS,Israeli new shekel,The new base year is 2004.,Middle East & North Africa,Lower middle income,GZ,...,Budgetary central government,Special Data Dissemination Standard (SDDS),2007,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011",,,2010,,2005
243,WLD,World,World,World,1W,,World aggregate.,,,1W,...,,,,,,,,,,
244,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",,,2009,2013,2005
245,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,The new base year is 2010. National accounts d...,Sub-Saharan Africa,Lower middle income,ZM,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013/14","Integrated household survey (IHS), 2010",,2010. Population and Housing Census.,,2013,2002
246,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",,,,2013,2002

In [ ]:
query = """SELECT 
    C.ShortName AS Country,
    I.IndicatorName,
    I.Year,
    I.Value
FROM Indicators I
JOIN Country C
    ON I.CountryCode = C.CountryCode
JOIN Series S
    ON I.IndicatorCode = S.SeriesCode
WHERE C.ShortName = 'Brazil'
  AND I.Year = 2014
  AND I.IndicatorName LIKE '%GDP%'
ORDER BY I.IndicatorName;"""
brazil_gdp_indicators_2014 = pd.read_sql(query, conn)
brazil_gdp_indicators_2014

,Country,IndicatorName,Year,Value
0,Brazil,"Agriculture, value added (% of GDP)",2014,5.559470e+00
1,Brazil,Broad money (% of GDP),2014,7.963235e+01
2,Brazil,"Claims on central government, etc. (% GDP)",2014,2.696441e+01
3,Brazil,Claims on other sectors of the domestic econom...,2014,8.130407e+01
4,Brazil,Current account balance (% of GDP),2014,-4.432124e+00
5,Brazil,Discrepancy in expenditure estimate of GDP (cu...,2014,0.000000e+00
6,Brazil,Domestic credit provided by financial sector (...,2014,1.082685e+02
7,Brazil,Domestic credit to private sector (% of GDP),2014,6.911030e+01
8,Brazil,Domestic credit to private sector by banks (% ...,2014,6.911030e+01
9,Brazil,Exports of goods and services (% of GDP),2014,1.151749e+01
10,Brazil,External balance on goods and services (% of GDP),2014,-2.756927e+00
11,Brazil,"Final consumption expenditure, etc. (% of GDP)",2014,8.267517e+01
12,Brazil,"Foreign direct investment, net inflows (% of GDP)",2014,4.130094e+00
13,Brazil,"Foreign direct investment, net outflows (% of ...",2014,1.096993e+00
14,Brazil,GDP (constant LCU),2014,1.872042e+12
15,Brazil,GDP (current LCU),2014,5.521256e+12
16,Brazil,GDP at market prices (constant 2005 US$),2014,1.206071e+12
17,Brazil,GDP at market prices (current US$),2014,2.346076e+12
18,Brazil,GDP deflator (base year varies by country),2014,2.949323e+02
19,Brazil,GDP growth (annual %),2014,1.447074e-01
20,Brazil,GDP per capita (constant 2005 US$),2014,5.852500e+03
21,Brazil,GDP per capita (constant LCU),2014,9.084146e+03
22,Brazil,GDP per capita (current LCU),2014,2.679208e+04
23,Brazil,GDP per capita (current US$),2014,1.138442e+04
24,Brazil,GDP per capita growth (annual %),2014,-7.390131e-01
25,Brazil,"GDP per capita, PPP (constant 2011 internation...",2014,1.510983e+04
26,Brazil,"GDP per capita, PPP (current international $)",2014,1.583802e+04
27,Brazil,GDP per person employed (constant 1990 PPP $),2014,1.377800e+04
28,Brazil,"GDP, PPP (constant 2011 international $)",2014,3.113801e+12
29,Brazil,"GDP, PPP (current international $)",2014,3.263867e+12
30,Brazil,General government final consumption expenditu...,2014,2.019289e+01
31,Brazil,Gross capital formation (% of GDP),2014,2.008175e+01
32,Brazil,Gross domestic savings (% of GDP),2014,1.732483e+01
33,Brazil,Gross fixed capital formation (% of GDP),2014,1.974399e+01
34,Brazil,Gross national expenditure (% of GDP),2014,1.027569e+02
35,Brazil,Gross savings (% of GDP),2014,1.584546e+01
36,Brazil,"Household final consumption expenditure, etc. ...",2014,6.248229e+01
37,Brazil,Imports of goods and services (% of GDP),2014,1.427442e+01
38,Brazil,"Industry, value added (% of GDP)",2014,2.341057e+01
39,Brazil,"Inflation, GDP deflator (annual %)",2014,6.896832e+00
40,Brazil,"Manufacturing, value added (% of GDP)",2014,1.091188e+01
41,Brazil,Market capitalization of listed domestic compa...,2014,3.597045e+01
42,Brazil,Merchandise trade (% of GDP),2014,1.978520e+01
43,Brazil,Military expenditure (% of GDP),2014,1.344207e+00
44,Brazil,Money and quasi money (M2) as % of GDP,2014,7.963235e+01
45,Brazil,"PPP conversion factor, GDP (LCU per internatio...",2014,1.691630e+00
46,Brazil,"Personal remittances, received (% of GDP)",2014,1.127464e-01
47,Brazil,Price level ratio of PPP conversion factor (GD...,2014,7.188027e-01
48,Brazil,"Services, etc., value added (% of GDP)",2014,7.103003e+01
49,Brazil,"Stocks traded, total value (% of GDP)",2014,2.764140e+01
50,Brazil,Trade (% of GDP),2014,2.579190e+01
51,Brazil,Trade in services (% of GDP),2014,5.482762e+00